*{
  padding: 0;
  margin: 0;
}
body{
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(245, 245, 245);
  padding: 10px;
  align-items: center;
}
li a{
  text-decoration: none;
  color: black;
  font-weight: 500;
  padding: 2px 20px;
  border-radius: 15px;
}
a:hover{
  background-color: rgb(44, 118, 44);
  color: rgb(245, 245, 245);
}
li a{
  display: grid;
  grid-row: 1fr 1fr;
}
li a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
input{
  padding: 10px;
  border: 1px solid rgb(237, 234, 234);
  border-radius: 15px;
  border-left: none;
}
li img{
  width: 25px;
  margin: 5px;
}
.search-icon{
  
  border-radius: 20px;
  background-color: rgb(245, 245, 245);
  padding:5px;
  margin-right: -8px;
  z-index: 10;
}
.search-div{
  display: flex;
  flex-direction: row;
  align-items: center;
}

main{
  max-width: 1280px;
  margin: 0 auto;
  background-color: rgb(44, 118, 44);
  align-items: center;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
h1{
  color: rgb(245, 245, 245);
}
.heading-down{
  color: rgb(252, 188, 70);
  margin-top: 10px;
}
.main-para{
  font-weight: 700;
  color: rgb(245, 245, 245);
  padding: 30px;
}
button{
  color: rgb(245, 245, 245);
  font-weight: 500;
  padding: 10px;
  background-color: rgb(44, 118, 44);
  border-radius: 15px;
  margin: 15px;
  border: 1px solid rgb(237, 234, 234);
}
button:hover{
  background-color: rgb(252, 188, 70);
  color: rgb(245, 245, 245);
  border: none;
}
.footer-para{
  font-weight: 700;
}
footer{
  text-align: center;
  padding: 30px;
  background-color: rgb(245, 245, 245);
}